<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-watermask</symbolicName>
    <version>1.3.3</version>

    <name>BEAM Water-Mask Operator</name>
    <description>Computes water coverage fractions based on SRTM, GSHHS, MERIS and MODIS auxiliary data.</description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>
        Max Planck Str. 2, 21502 Geesthacht (Germany)
    </contactAddress>
    <copyright>(C) 2014 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[
           Changes in 1.3.3<br/>
            - changed the action's VISAT menu group<br/>
           Changes in 1.3.2<br/>
            - added GSHHS-based auxdata<br/>
           Changes in 1.3.1<br/>
            - dependency change BEAM from 4.10.4-SNAPSHOT to 4.11<br/>
        ]]>
    </changelog>
    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>

    <categories>Application,Processor</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>watermask</id>
            <parent>processing.preProcessing</parent>
            <class>org.esa.beam.visat.actions.DefaultOperatorAction</class>
            <operatorName>LandWaterMask</operatorName>
            <dialogTitle>Land/Water Mask</dialogTitle>
            <targetProductNameSuffix>_watermask</targetProductNameSuffix>
            <text>Land/Water Mask...</text>
            <shortDescr>Computes water coverage fractions based on SRTM, GSHHS, MERIS and MODIS auxiliary data.</shortDescr>
            <mnemonic/>
            <helpID>watermask</helpID>
            <placeAfter/>
        </action>
    </extension>

</module>
